<h2 mat-dialog-title>Create Tournament</h2>
<form (ngSubmit)="save()">

    <mat-dialog-content [formGroup]="form">

        <mat-form-field>
            <input [(ngModel)]="name" pattern="[a-zA-Z1-9 ]*" formControlName="name" matInput placeholder="Name" required>
            <mat-error>
                <span *ngIf="name.length == 0">
                    Field is required
                </span>
                <span *ngIf="name.length > 0">
                    Only letters and numbers
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="league" formControlName="league" placeholder="League" required>
                <mat-option value="123">Option</mat-option>
            </mat-select>
            <mat-error>
                <span *ngIf="league.length == 0">
                    Field is required
                </span>
            </mat-error>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="private" formControlName="private">Private</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="adminJoin" formControlName="adminJoin" [checked]="true">Admin participating</mat-slide-toggle>
        <label>Players</label>
        <mat-slider [(ngModel)]="players" formControlName="players" [thumbLabel]="true" min="2" max="30" step="1" value="1"></mat-slider>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close color="warn">Cancel</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-raised-button color="primary" type="submit">Create</button>
    </mat-dialog-actions>

</form>
