.login {
	background: #36454f;
	padding: 10px;
	display: inline-flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	mat-card {
		position: absolute;
		top: 50%;
		-webkit-font-smoothing: antialiased;
		transform: translateY(-50%);
	}

	h1 {
		margin: 0;
	}
}