/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    background: #fafafa;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    font-family: 'Righteous', cursive;
    margin: 0;
    letter-spacing: 3px;
}