<div class="container mat-elevation-z1">
    <span *ngIf="tournament$ | async as tournament; else Loading">
        <span *ngIf="auth.user | async as authUser">
            <h1 class="mat-headline">{{tournament.name}}</h1>
            <mat-divider></mat-divider>
            <mat-tab-group color="accent">
                <mat-tab label="Matches">
                    <app-tournament-matches [tournamentID]="tournamentID" [leagueID]="tournament.league.id"></app-tournament-matches>
                </mat-tab>
                <mat-tab label="Results">
                    Not yet implemented
                </mat-tab>
                <mat-tab label="Scoreboard">
                    <app-users-table [data]="value" [tournamentID]="tournamentID" userDataType="scoreboard"></app-users-table>
                </mat-tab>
                <mat-tab label="settings" *ngIf="tournament.admin == authUser.uid">
                    <ng-template mat-tab-label>
                        <mat-icon>settings</mat-icon>
                    </ng-template>
                    <div class="content">
                        <h2 class="title">Admin Settings</h2>
                        <mat-divider></mat-divider>
                        <section class="mat-typography">
                            <h2 class="mat-h2">Users</h2>
                            <mat-form-field class="example-form-field">
                                <input matInput type="text" placeholder="Search user" [(ngModel)]="value" (ngModelChange)="getUsersByName()" />
                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <app-users-table [data]="value" [tournamentID]="tournamentID" userDataType="search"></app-users-table>
                        </section>
                        <section class="mat-typography">
                            <h2>Invited Users</h2>
                            <app-users-table [data]="value" [tournamentID]="tournamentID" userDataType="invited"></app-users-table>
                        </section>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </span>
    </span>
    <ng-template #Loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>