<app-header (toggleMenu)="toggleMenu($event)">
</app-header>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="toggled">
        <mat-nav-list>
            <mat-list-item color="primary" *ngFor="let link of navLinks" [ngStyle]="{'margin-bottom': link.children ? link.children.length * 40 + 'px': '0px'}">
                <a matLine [routerLink]="link.path">{{ link.label }}</a>
                <mat-icon>{{link.icon}}</mat-icon>
                <mat-nav-list *ngIf="link.children" dense>
                    <mat-list-item *ngFor="let child of link.children">       
                        <ng-container *ngIf="child.path">
                            <mat-icon>{{child.icon}}</mat-icon>
                            <a matLine [routerLink]="[child.path]" [queryParams]="child.parameter ? child.parameter: ''">{{ child.label }}</a>
                        </ng-container>
                    </mat-list-item>
                </mat-nav-list>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="site-container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>