<div class="container">
    <mat-card>
        <mat-card-title>My Tournaments</mat-card-title>
        <mat-card-content>
            <div *ngIf="tournamentService.myTournaments$ | async as tournaments; else loading">
                <mat-list>
                    <mat-divider></mat-divider>
                    <span *ngFor="let tournament of tournaments">
                        <mat-list-item>
                            <mat-icon class="private-indicator">{{tournament.private ? 'lock': 'lock_open'}}</mat-icon>
                            <span class="tournament-name">{{tournament.name}}</span>
                            <div class="tournament-meta">
                                <mat-chip-list selectable="false">
                                    <mat-chip selected="true" color="primary">Players: {{tournament.players}}</mat-chip>
                                    <mat-chip selected="true" color="accent">League: {{tournament.league}}</mat-chip>
                                </mat-chip-list>
                                <a mat-icon-button routerLink="{{tournament.id}}">
                                    <mat-icon>exit_to_app</mat-icon>
                                </a>
                            </div>

                            
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </span>
                </mat-list>
                <span *ngIf="tournaments.length == 0">You do not participate in any tournaments</span>
            </div>
            <ng-template #loading>
                <mat-spinner></mat-spinner>
            </ng-template>
        </mat-card-content>
        <mat-card-actions>
            <app-tournament-create></app-tournament-create>
            <button mat-raised-button color="accent" disabled>
                <span>Find</span>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>Tournament Invites</mat-card-title>
        <mat-card-content>
            You do not have any invites.
        </mat-card-content>
    </mat-card>
</div>