<div class="container">
    <mat-card>
        <mat-card-title>My Tournaments</mat-card-title>
        <mat-card-content>
            You do not participate in any tournaments.
        </mat-card-content>
        <mat-card-actions>
            <app-tournament-create></app-tournament-create>
            <button mat-raised-button color="accent" disabled>
                <span>Find</span>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>Tournament Invites</mat-card-title>
        <mat-card-content>
            You do not have any invites.
        </mat-card-content>
    </mat-card>
</div>