<div class="example-container mat-elevation-z1">

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container *ngFor="let def of columnDefs" [matColumnDef]="def.columnDef">
            <mat-header-cell *matHeaderCellDef>{{def.headName}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                
                <span *ngIf="def.columnDef == 'photo'">
                    <img [src]="def.cell(row)"  width="32" height="32" alt="">
                </span>
                <span *ngIf="def.columnDef == 'action'">
                    <button *ngIf="userDataType === 'search'" mat-icon-button color="primary" (click)="inviteUser(row)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <button *ngIf="userDataType === 'invited'" mat-icon-button color="warn" (click)="removedInvitedUser(row)">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                </span>
                <span *ngIf="def.columnDef != 'photo' && def.columnDef != 'action'">
                    {{def.cell(row)}}
                </span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <!-- <div *ngIf="invites$ | async as invites">
        <div *ngFor="let invite of invites">
            {{(invite.user | doc | async)?}}
        </div>
    </div> -->
</div>